auladia02.json
{
  "name": "Meu-primeiro-fluxo",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "ed23e22e-ff80-4e14-a35b-fa7d893eb00e",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0d84407f-770c-4838-a408-b630ec49d0fe",
              "name": "nome",
              "value": "nancy",
              "type": "string"
            },
            {
              "id": "8a0c2a57-f332-479e-bb20-663f738c53a4",
              "name": "status",
              "value": "aprovado",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        0
      ],
      "id": "6d06fecb-bb55-4fc5-90dd-b611807ca911",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "6981d6ee-8205-406f-a7c5-bb706ef33dab",
              "leftValue": "={{ $json['status'] }}",
              "rightValue": "aprovado",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "7c681495-8912-438a-b645-b4b796bc98ce",
              "leftValue": "={{ $json['status'] }}",
              "rightValue": "aprovado",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        416,
        0
      ],
      "id": "223b964c-9bfd-4da0-a19b-ff646ba82acc",
      "name": "If"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b3663720-3e5c-4b14-b84c-748bd0619a17",
              "name": "mensagem",
              "value": "=Parabens {{$json['nome']}}!!! Voce foi {{ $json['status']}}!",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        624,
        -96
      ],
      "id": "d5a94158-3402-4bc1-8576-1d0961a36ab9",
      "name": "Edit Fields1"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "2a215411-134a-43f2-9bdf-587709459dcb",
  "meta": {
    "instanceId": "851d66e1d4d3de049d3426226b363639c19bc3f8bd546c96980b0597b40a65fd"
  },
  "id": "2hFdtHvY06oeAY6z",
  "tags": []
}